:where(figure) {
    margin: 0;
}

.is-style-text-subtitle {
    line-height: 1.4 !important;
}

.is-style-text-display,
.c-content__sidebar .wp-block-site-title {
    font-family: var(--wp--preset--font-family--playfair-display);
    font-weight: 500;
    line-height: 1.2;
}

.c-content__sidebar .wp-block-site-title {
    font-size: 32px;
}

@media screen and (min-width: 768px) {
    .c-content__sidebar .wp-block-site-title {
        font-size: 44px;
    }
}

@media screen and (min-width: 1024px) {
    .c-content__sidebar .wp-block-site-title {
        font-size: 38px;
    }
}

@media screen and (min-width: 1280px) {
    .c-content__sidebar .wp-block-site-title {
        font-size: 41px;
    }
}

@media screen and (min-width: 1440px) {
    .c-content__sidebar .wp-block-site-title {
        font-size: 44px;
    }
}

@media screen and (min-width: 1440px) {
    .c-content__sidebar .wp-block-site-title {
        font-size: 44px;
    }
}

.c-content__columns {
    display: grid;
    align-items: start;
    gap: 2.222222rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

@media screen and (min-width: 782px) {
    .c-content__columns {
        gap: 4.222222rem;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        grid-template-rows: 1fr;
    }
}

@media screen and (min-width: 1280px) {
    .c-content__columns {
        grid-template-columns: minmax(0, 2fr) minmax(0, 3fr);
    }
}

@media screen and (min-width: 1440px) {
    .c-content__columns {
        grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    }
}

.c-content__body {
    grid-column: 1;
    grid-row: 2;
}

.c-content__body a {
    font-weight: 600;
}

@media screen and (min-width: 782px) {
    .c-content__body {
        grid-row: 1;
        grid-column: 2;
    }
}

.c-content__sidebar {
    grid-column: 1;
    grid-row: 1;
}

@media screen and (min-width: 782px) {
    .c-content__sidebar {
        grid-row: 1;
        position: sticky;
        top:0;
    }

    .admin-bar .c-content__sidebar {
        top: var(--wp-admin--admin-bar--height, 0);
    }
}

.c-content__sidebar-inner-inner {
    padding-inline: 1rem;
}

@media screen and (min-width: 782px) {
    .c-content__sidebar-inner-inner {
        padding-inline: 0;
    }
}

.c-content__sidebar-inner-inner > :not(figure){
    padding-inline: 1rem;
}

@media screen and (min-width: 782px) {
    .c-content__sidebar-inner-inner > :not(figure){
        padding-inline: 2rem;
    }
}

.c-sidebar__image {
    width: 100% !important;
    height: auto !important;
    max-width: none;
}

.c-sidebar__image img {
    width: 100%;
}

.wp-block-post-content > * {
    padding-inline-start: 1rem;
}

.wp-block-post-content > .alignfull {
    margin-inline: 0 !important;
}

.wp-block-post-content > .wp-block-heading,
.wp-block-post-content > .wp-block-image,
.wp-block-post-content > .wp-block-embed,
.wp-block-post-content > .wp-block-video,
.wp-block-post-content > .wp-block-jetpack-map {
    padding-inline-start: 0;
}

@media screen and (min-width:782px){
    .wp-block-post-content > * {
        padding-inline-start: 2rem;
    }
}
