:where(figure) {
    margin: 0;
}

.is-style-text-subtitle {
    font-size: 1.375rem;
    line-height: 1.4 !important;
}

.is-style-text-display,
.c-content__sidebar .wp-block-site-title {
    font-family: var(--wp--preset--font-family--playfair-display);
    font-weight: 500;
    line-height: 1.2;
}

.c-content__sidebar .wp-block-site-title {
    font-size: 32px;
}

@media screen and (min-width: 768px) {
    .c-content__sidebar .wp-block-site-title {
        font-size: 44px;
    }
}

@media screen and (min-width: 1024px) {
    .c-content__sidebar .wp-block-site-title {
        font-size: 38px;
    }
}

@media screen and (min-width: 1280px) {
    .c-content__sidebar .wp-block-site-title {
        font-size: 41px;
    }
}

@media screen and (min-width: 1440px) {
    .c-content__sidebar .wp-block-site-title {
        font-size: 44px;
    }
}

@media screen and (min-width: 1440px) {
    .c-content__sidebar .wp-block-site-title {
        font-size: 44px;
    }
}

.c-content__columns {
    display: grid;
    align-items: start;
    gap: 2.222222rem;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto;
}

@media screen and (min-width: 783px) {
    .c-content__columns {
        gap: 4.222222rem;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        grid-template-rows: 1fr;
    }
}

@media screen and (min-width: 1280px) {
    .c-content__columns {
        grid-template-columns: minmax(0, 2fr) minmax(0, 3fr);
    }
}

.c-content__body {
    grid-column: 1;
    grid-row: 2;
}

.c-content__body a {
    font-weight: 600;
}

@media screen and (min-width: 783px) {
    .c-content__body {
        grid-row: 1;
        grid-column: 2;
        padding-left: 0 !important;
    }
}

.c-content__sidebar {
    grid-column: 1;
    grid-row: 1;
}

@media screen and (min-width: 783px) {
    .c-content__sidebar {
        grid-row: 1;
        position: sticky;
        top: 2rem;
    }

    .admin-bar .c-content__sidebar {
        top: calc(2rem + var(--wp-admin--admin-bar--height, 0));
    }
}

.c-content__sidebar-inner {
    position: relative;
}

.c-content__sidebar-inner-inner {
    padding-inline: 1rem;
}

@media screen and (min-width: 783px) {
    .c-content__sidebar-inner-inner {
        padding-inline: 0;
    }
}

.c-content__sidebar-inner-inner > :not(figure){
    padding-inline: 1rem;
}

@media screen and (min-width: 783px) {
    .c-content__sidebar-inner-inner > :not(figure){
        padding-inline: 2rem;
    }
}

.c-sidebar__figures-wrap {
    positiom: relative;
}

.c-content__sidebar-inner .wp-block-post-featured-image {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    height:100%;
}

.c-sidebar__image {
    width: 100% !important;
    height: auto !important;
    max-width: none;
}

.c-sidebar__image img {
    width: 100%;
}

@media screen and (min-width: 600px){
    .c-header {
        display: none;
    }
}

.wp-block-post-content > * {
    padding-inline-start: 1rem;
}

.wp-block-post-content > .alignfull {
    margin-inline: 0 !important;
}

.wp-block-post-content > .wp-block-heading,
.wp-block-post-content > .wp-block-post-title,
.wp-block-post-content > .wp-block-group {
    padding-inline-start: 0;
}

@media screen and (min-width:782px){
    .wp-block-post-content > * {
        padding-inline-start: 2rem;
    }
}

@media screen and (min-width:782px){
    .wp-block-post-content > .wp-block-heading,
    .wp-block-post-content > .wp-block-post-title,
    .wp-block-post-content > .wp-block-group {
        padding-inline-start: 0;
    }
}

.wp-block-group.is-style-section-1 {
    background-color: transparent;
    padding: 0;
}

.wp-block-group.is-style-section-1 + .wp-block-group.is-style-section-1 {
    margin-block-start: 8rem;
}

.wp-block-group.is-style-section-1 > * {
    padding-inline-start: 1rem;
}

.wp-block-group.is-style-section-1 > .wp-block-heading,
.wp-block-group.is-style-section-1 > .wp-block-post-title,
.wp-block-group.is-style-section-1 > .wp-block-group {
    padding-inline-start: 0;
}

.wp-block-group.is-style-section-1 > .alignfull {
    margin-inline: 0 !important;
}

@media screen and (min-width:782px){
    .wp-block-group.is-style-section-1 > * {
        padding-inline-start: 2rem;
    }
}

@media screen and (min-width:782px){
    .wp-block-group.is-style-section-1 > .wp-block-heading,
    .wp-block-group.is-style-section-1 > .wp-block-post-title,
    .wp-block-group.is-style-section-1 > .wp-block-group {
        padding-inline-start: 0;
    }
}

.wp-block-group.is-style-section-3 {
    background-color: var(--wp--preset--color--custom-lightest-box);
}

.c-main {
    margin-top: 0 !important;
}

@media screen and (min-width:782px){
    .wp-block-post-content {
        padding-top: 2rem;
    }
}

.wp-block-navigation .current-menu-item a {
    font-weight: 600;
}

.c-footer .alignfull {
    margin-inline: 0 !important;
}

.c-postcard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    container-type: inline-size;
}

@media screen and (min-width: 600px) {
    .c-postcard {
        gap: 2rem;
        grid-template-columns: minmax(0,1fr) minmax(0,2fr);
    }
}

.c-postcard .wp-block-post-excerpt {
    font-size: clamp(0.938rem, 0.804rem + 0.67vw, 1.125rem);
}

.c-postcard .wp-block-post-featured-image {
    grid-column: 1;
    grid-row: 1;
    max-width: 100% !important;
}

.c-postcard > .wp-block-group {
    grid-column: 1;
    grid-row: 2;
    margin: 0;
}

@media screen and (min-width: 600px) {
    .c-postcard .wp-block-post-featured-image {
        grid-column: 1;
        grid-row: 1;
    }
    
    .c-postcard > .wp-block-group {
        grid-column: 2;
        grid-row: 1;
        padding-top: 2rem;
    }
}
